#defaultCSS {
    overflow: hidden;
}

/* ABOUT ME PAGE */
.aboutMePage {
    height: 350px;
    color: yellow;
    position: relative;
    perspective: 450px;
    font-size: 2vw;
    width: 1000px;
    margin: 5px;

}

.aboutMePage h2 {
    position: fixed;
    z-index: 1;
    cursor:default;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration:underline;
}

.aboutMePage h2:hover ~ .aboutMeText{
    transition: 1s;
    display: block;
    animation: crawlText 230s linear forwards;
}
.aboutMePage h2:hover ~ .crawlTitle{
    display: none;
}

.aboutMeText h1 {
    text-align: center;
    font-family: 'Starjedi';
}

.aboutMePage p {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.crawlTitle{
    font-family: 'Starjedi';
    color: black;
    text-shadow: -1px -1px yellow, 1px -1px yellow, -1px 1px yellow, 1px 1px yellow;
    font-size: 150px;
}
.aboutMeText {
    transition: 1s;
    display: none;
    z-index: -1;
    text-align: justify;
    padding-left: 5px;
    /* animation: crawlText 100s linear forwards; */

}

@keyframes crawlText {
    0% {
        top: 0;
        transform: translateY(170px) translateZ(450px) rotateX(40deg);
    }

    97% {
        top: -7500px;
        transform: translateY(-2000px) translateZ(-2500px) rotateX(70deg);
    }

    100% {
        opacity: 0;
    }
    
}


/* Skills Page */
.mySkillsPage{
    width: 1000px;
}
.skillIcons img {
    transition: 500ms;
    margin: 10px;
    width: 80px;

}

.skillIcons img:hover {
    transition: 250ms;
    width: 70px;

}
.skillClickable img{
    animation: floatSkills 1s ease-in-out infinite;
}


/* Contact Page */
.contactPage{
    color: white;
    background-color: rgb(0, 0, 255);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


/* Mobile */
@media (max-width: 1000px) {
    .aboutMePage{
        width: 900px;
        height: 100%;
    }
    .aboutMePage h2{
        display: none;
    }
    .aboutMeText{
        display: block;
    }
    .skillIcons img{
        width: 300px;
    }
    .skillIcons img:hover {
        transition: 250ms;
        width: 280px;
    
    }
}

@keyframes floatSkills {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(5px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}
