#defaultCSS {
    overflow: hidden;
}

/* ABOUT ME PAGE */
.aboutMePage {
    height: 350px;
    color: yellow;
    position: relative;
    perspective: 450px;
    font-size: 2vw;
    width: 1000px;
    
}
.aboutMePage input{
    position: fixed;
    transform: translateX(-500px);
    
}
.aboutMePage input:hover .aboutMeText{
    /* animation: crawlText 100s linear forwards; */
}
.aboutMeText h1{
    text-align: center;
    font-family: 'Starjedi';
}
.aboutMePage p{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.aboutMeText {
    text-align: justify;
    padding-left: 5px;
    animation: crawlText 100s linear forwards;
    
}

@keyframes crawlText{
    0%{
        top:0; transform: translateY(100px) translateZ(300px) rotateX(40deg);
    }
    97%{
        top:-7500px; transform: translateY(-1500px) translateZ(-2500px) rotateX(70deg);
    }
    100%{
        opacity: 0;
    }
}

/* Skills Page */
.skillIcons img{
    transition: 500ms;
    margin: 10px;
    width: 80px;

}
.skillIcons img:hover{
    transition: 250ms;
    width: 70px;

}