.MainHeader{
    z-index: 5;
    margin: 10px;
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

#Title{
    color: rgb(0, 0, 0);
    border: 20px;
    background-color: white;
    border-radius: 20px;
}


/* Social Icons */
#Social-Widgets img{
    animation: socialWidgetsInit 1s;
    height: 40px;
    transition: 500ms;
    color: blue;
    margin-left: 10px;
    margin-right: 2px;
    border-radius: 10px;
}
#Social-Widgets img:hover{
    transition: 500ms;
    opacity: 0.3;
    box-shadow: 0px 8px 16px 0px green;
}
/* ----------------------------------------------- */


/* DROPDOWN MENU */

#Dropdown h1{
    transition: 200ms;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    width: fit-content;
}
#Dropdown h1:hover{
    transition: 200ms;
    color: rgb(119, 119, 119);
    background-color: #cecece;
    border-radius: 10px;
    width: fit-content;
}

#Dropdown {
    
    display: inline-block;
    
}

.Dropdown-content {
    /* transition: 1000ms; */
    /* display: none; */
    opacity: 0;
    animation: hideDropdownMenu 1s;
    margin-left: -100%;
    animation-direction: alternate;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 8px 8px 10px 2px rgb(0, 0, 0);
    border-radius: 15px;
}
.Dropdown-content a{
    transition: 500ms;
    color: black;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.Dropdown-content a:hover{
    transition: 500ms;
    color: rgb(122, 122, 122);
}

#Dropdown:hover .Dropdown-content{
    opacity: 1;
    display: block;
    animation: showDropdownMenu 0.5s;
    margin-left: 0%;


}


@keyframes showDropdownMenu{
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes hideDropdownMenu{
    from {
        margin-left: 0%;
    }

    to {
        margin-left: -100%;
        opacity: 0;
    }
}

@keyframes socialWidgetsInit{
    from{
        margin-top: -30px;
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}